@using HumanResourcesApp.Views.Shared;
@model HumanResourcesApp.Controllers.IndexModel

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <fieldset>
        @Html.DropDownList("departmentIdFilter")
        @Html.DropDownList("statusIdFilter")
        <input type="submit" value="Submit" />
    </fieldset>
}

<table class="table">
    <tr>
        <th>
            First Name         
        </th>
        <th>
            @*TODO create ViewImports with TagHelpers*@
            <a href="/Employees?sortOrder=@Model.LastNameSort&departmentIdFilter=@Model.DepartmentIdFilter&statusIdFilter=@Model.StatusIdFilter&pageIndex=@Model.PageIndex">Last Name</a>
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            <a href="/Employees?sortOrder=@Model.DepartmentSort&departmentIdFilter=@Model.DepartmentIdFilter&statusIdFilter=@Model.StatusIdFilter&pageIndex=@Model.PageIndex">Department</a>
        </th>
        <th>
            <a href="/Employees?sortOrder=@Model.StatusSort&departmentIdFilter=@Model.DepartmentIdFilter&statusIdFilter=@Model.StatusIdFilter&pageIndex=@Model.PageIndex">Status</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department1.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status1.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeNumber }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeNumber }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeNumber })
            </td>
        </tr>
    }

</table>

@{
    var prevDisabled = !Model.Employees.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Employees.HasNextPage ? "disabled" : "";
}

<ul class="pagination">
    <li class="page-item @prevDisabled">
        <a href="/Employees?sortOrder=@Model.CurrentSort&departmentIdFilter=@Model.DepartmentIdFilter&statusIdFilter=@Model.StatusIdFilter&pageIndex=@(Model.Employees.PageIndex - 1)"><</a>
    </li>

    <li class="page-item pages m-auto">
        <a>@Model.Employees.PageIndex of @Model.Employees.TotalPages</a>
    </li>
    <li class="page-item @nextDisabled">
        <a href="/Employees?sortOrder=@Model.CurrentSort&departmentIdFilter=@Model.DepartmentIdFilter&statusIdFilter=@Model.StatusIdFilter&pageIndex=@(Model.Employees.PageIndex + 1)">></a>
    </li>
</ul>